{% extends 'base.html.twig' %}

{% block title %}Votre Compte a bien été supprimé{% endblock %}

{% block body %}
    <div class="container">
        <div class="py-5">
            <h1>Compte supprimé</h1>
            <p class="mb-3">Nous vous confirmons la suppression de votre compte ainsi que de vos données.</p>

            <a href="{{ path('site_index') }}" class="btn btn-primary">Retour à l'accueil</a>
        </div>
    </div>

{% endblock %}