{% extends 'base.html.twig' %}

{% block title %}Modifier mon Compte{% endblock %}

{% block body %}
    <div class="container">
        <div class="py-5">
            <h1>Modifier mon compte</h1>
            {{ form_start(form) }}
            <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.firstName) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.lastName) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.email) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.phone) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.companyName) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.siret) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.address) }}
        </div>
        <div class="col-lg-3">
            {{ form_row(form.zipCode) }}
        </div>
        <div class="col-lg-3">
            {{ form_row(form.city) }}
        </div>
    </div>
            <button class="btn btn-primary">{{ button_label|default('Modifier') }}</button>
            {{ form_end(form) }}

            <hr>

            <a href="{{ path('profile_show') }}" class="btn btn-outline-primary">Retour au compte</a>
        </div>
    </div>

{% endblock %}