{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <div class="py-5">
            <h1>Modifier mon mot de passe</h1>
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary">{{ button_label|default('Modifier') }}</button>
            {{ form_end(form) }}

            <hr>

            <a href="{{ path('profile_show') }}" class="btn btn-outline-primary">Retour au compte</a>
        </div>
    </div>

{% endblock %}