{% extends 'base.html.twig' %}

{% block title %}Mes réservations{% endblock %}

{% block body %}
    <div class="container">
        <div class="py-5">
            <h1>Mes réservations</h1>

            {% include 'utils/alert.html.twig' %}

            <table class="table">
                <thead>
                    <tr>
                        <th>Début</th>
                        <th>Fin</th>
                        <th>Salle</th>
                        <th>Code</th>
                        <th>Statut</th>
                        <th>Prix</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reservation in reservations %}
                        <tr>
                            <td>{{ reservation.dateStart|date('d-m-Y H:i:s') }}</td>
                            <td>{{ reservation.dateEnd|date('d-m-Y H:i:s') }}</td>
                            <td>{{ reservation.room.name }}</td>
                            <td>{{ reservation.code }}</td>
                            <td>{% include 'utils/_reservation_status_badge.html.twig' %}</td>
                            <td>{{ reservation.total|number_format(2, ',', ' ') }}€</td>
                            <td class="d-flex">
                                <a href="{{ asset(reservation.invoice) }}" target="_blank" class="btn btn-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Télécharger la facture"><i class="fas fa-download"></i></a>
                                {% if is_granted('RESERVATION_CANCEL', reservation) %}
                                    <form method="post" action="{{ path('profile_reservation_cancel', {'id': reservation.id}) }}" onsubmit="return confirm('Voulez-vous vraiment annuler cette reservation?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('cancel' ~ reservation.id) }}">
                                        <button class="btn btn-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Annuler la réservation" name="cancel"><i class="fas fa-times-circle"></i></button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">Aucune réservation</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                {{ knp_pagination_render(reservations) }}
            </div>
        </div>
    </div>

{% endblock %}