{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
    <div class="container">
        <div class="py-5">
            <h1>Mon compte</h1>
            {% include 'utils/alert.html.twig' %}

            <h2>{{ app.user.fullName }}</h2>
            <ul>
                <li><strong>Email</strong> : {{ app.user.email }}</li>
                <li><strong>Téléphone</strong> : {{ app.user.phone }}</li>
                <li><strong>Adresse</strong> : {{ app.user.address }} - {{ app.user.zipCode }} {{ app.user.city }}</li>
                <li><strong>Date d'inscription</strong> : {{ app.user.registerAt|date('d-m-Y H:i:s') }}</li>
            </ul>

            {% if app.user.companyName is not empty %}
                <h2>Entreprise : {{ app.user.companyName }}</h2>
                <p>Siret: {{ app.user.siret ? app.user.siret : 'N/C' }}</p>
            {% endif %}
            <hr>

            <div class="d-flex">
            <a href="{{ path('profile_edit') }}" class="btn btn-primary me-2">Modifier mon compte</a>
            <a href="{{ path('profile_edit_password') }}" class="btn btn-warning me-2">Modifier mon mot de passe</a>

             <form method="post" action="{{ path('profile_delete', {'id': app.user.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer votre compte?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
                <button class="btn btn-danger">Supprimer mon compte</button>
            </form>
            </div>

        </div>
    </div>

{% endblock %}