{% extends 'base_admin.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    {% include "utils/alert.html.twig" %}

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(users, 'Préom', 'u.firstName') }}</th>
                <th>{{ knp_pagination_sortable(users, 'Nom', 'u.lastName') }}</th>
                <th>{{ knp_pagination_sortable(users, 'Entreprise', 'u.companyName') }}</th>
                <th>{{ knp_pagination_sortable(users, 'Rôle(s)', 'u.roles') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}

            <tr {% if user.roles is empty %}class="bg-light"{% endif %}>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.companyName ? user.companyName : '' }}</td>
                <td>
                    {% for role in user.roles %}
                        <span class="badge bg-primary">{{ role }}</span>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('admin_user_show', {'id': user.id}) }}"><i class="fas fa-eye"></i></a>

                    {% if is_granted('USER_EDIT', user) %}
                        <a href="{{ path('admin_user_edit', {'id': user.id}) }}"><i class="fas fa-edit"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(users) }}
    </div>
{% endblock %}
