{% extends "base.html.twig" %}


{% block title %}{{ room.name }}{% endblock %}

{% block body %}
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">

                        {% for image in room.images %}
                            <img src="{{ vich_uploader_asset(image) }}" alt="{{ image.name }}" class="img-fluid">
                        {% else %}
                            <img src="{{ asset('build/images/img-placeholder.jpg') }}" alt="Salle" class="img-fluid">
                        {% endfor %}

                </div>
                <div class="col-lg-7 offset-lg-1">
                    <h1>{{ room.name }} - <a href="{{ path('site_show_category', {'slug': room.category.slug}) }}" class="h6"><span class="badge bg-primary">{{ room.category.name }}</span></a></h1>
                    <p>{{ room.description }}</p>
                    <h2>Informations</h2>
                    <div class="d-flex justify-content-between">
                        <p><i class="fas fa-chair"></i> {{ room.seat }}</p>
                        <p><i class="fas fa-expand-arrows-alt"></i> {{ room.surface }}m2</p>
                        <p><i class="fas fa-money-bill-alt"></i> {{ room.price|number_format(2, ',', ' ') }}€</p>
                    </div>
                    {% if is_granted('IS_ANONYMOUS') %}
                        <div class="alert alert-danger">
                            <i class="fas fa-exclamation-circle"></i>
                            Vous devez être connecté pour réserver.
                            <a href="{{ path('app_login') }}" class="alert-link">Se connecter</a>
                        </div>
                    {% else %}
                        <a href="{{ path('site_room_reservation', {'slug': room.slug}) }}" class="btn btn-primary">Réserver</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}