{% extends 'base_admin.html.twig' %}
{% block title %}Liste des réservations{% endblock %}
{% block body %}
    <h1>Liste des réservations</h1>
    <p>
        <a href="{{ path('admin_reservation_new') }}" class="btn btn-primary">Ajouter une réservation</a>
    </p>
    {% include "utils/alert.html.twig" %}
    <table class="table">
        <thead>
            <tr>
                <th>Salle</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Client</th>
                <th>{{ knp_pagination_sortable(reservations, 'Statut', 'r.status') }}</th>
                <th>{{ knp_pagination_sortable(reservations, 'Total', 'r.total') }}</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.room.name }}</td>
                <td>{{ reservation.dateStart|date('d-m-Y H:i') }}</td>
                <td>{{ reservation.dateEnd|date('d-m-Y H:i') }}</td>
                <td>{{ reservation.user.fullName }}</td>
                <td>
                    {% include 'utils/_reservation_status_badge.html.twig' %}
                </td>
                <td>{{ reservation.total|number_format(2, ',', ' ') }}</td>
                <td>
                    <a href="{{ path('admin_reservation_show', {'id': reservation.id}) }}"><i class="fas fa-eye"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun résultats</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(reservations) }}
    </div>
{% endblock %}