{% extends 'base_admin.html.twig' %}

{% block title %}Ajouter une nouvelle réservation{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle réservation</h1>

    {{ include('admin/reservation/_form.html.twig') }}

    <hr>

    <a href="{{ path('admin_reservation_index') }}" class="btn btn-outline-primary">Retour à la liste</a>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('datetimepicker') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('datetimepicker') }}
{% endblock %}