{% extends 'base.html.twig' %}

{% block title %}Un email vous a été envoyé{% endblock %}

{% block body %}
    <div class="py-5">
        <div class="container">
            <h1>Email envoyé</h1>
            <p>
                Si votre compte existe alors un email vient de vous être envoyer, avec un lien permettant de réinitialiser votre mot de passe. Ce lien expira dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p class="mb-1">Si vous n'avez pas reçu l'email, merci de verifier vos emails indésirables ou <a href="{{ path('app_forgot_password_request') }}" class="btn btn-link">veuillez réesayer</a>.</p>
        </div>
    </div>
{% endblock %}
