{% extends 'base.html.twig' %}

{% block title %}Reinitialiser mon mot de passe{% endblock %}

{% block body %}
<div class="py-5">
    <div class="container">
    {% include "utils/alert.html.twig" %}

    <h1>Reinitialiser mon mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre adresse mail et nous vous enverrons un lien vous permettant de changer de mot de passe.
            </small>
        </div>

        <button class="btn btn-primary">Envoyer</button>
    {{ form_end(requestForm) }}
    </div>
</div>
{% endblock %}
