<form method="post" action="{{ path('admin_room_delete', {'id': room.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette salle?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ room.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
