{{ form_start(form) }}
    <div class="row">
        <div class="col-md-5">
            {{ form_row(form.name) }}
        </div>

        <div class="col-md-5">
            {{ form_row(form.category) }}
        </div>

        <div class="col-md-2">
            <p>Statut</p>
            {{ form_row(form.isActive) }}
        </div>

        <div class="col-md-4">
            {{ form_row(form.surface) }}
        </div>

        <div class="col-md-4">
            {{ form_row(form.seat) }}
        </div>

        <div class="col-md-4">
            {{ form_row(form.price) }}
        </div>
    </div>
    {{ form_row(form.description) }}

    <div id="images" data-prototype="{{ form_row(form.images.vars.prototype)|e('html_attr') }}">
        {% for image in form.images %}
            <div class="row align-items-end js-line">
                <div class="col-lg-6">{{ form_row(image.imageFile) }}</div>
                <div class="col-lg-5">{{ form_row(image.name) }}</div>
                <div class="col-lg-1">
                    <button type="button" class="btn btn-danger mb-3 js-delete">
                        <i class="fas fa-trash js-delete"></i>
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
    <p>
        <button type="button" class="btn btn-sm btn-outline-primary btn-link" id="add-new">
            <i class="fas fa-plus-circle"></i>
            Ajouter une image
        </button>
    </p>

    <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
