{% extends 'admin/room/template_form.html.twig' %}

{% block title %}Modifier une salle{% endblock %}

{% block body %}
    <h1>Modifier une salle</h1>

    {{ include('admin/room/_form.html.twig', {'button_label': 'Modifier'}) }}

    <hr>

    <div class="d-flex">
        <a href="{{ path('admin_room_index') }}" class="btn btn-outline-primary me-2">Retour à la liste</a>
        {{ include('admin/room/_delete_form.html.twig') }}
    </div>

{% endblock %}
