{% extends 'base_admin.html.twig' %}

{% block title %}Espace d'administration{% endblock %}

{% block body %}
    <h1>Bienvenue sur l'espace d'administration</h1>
    <hr>
    <h2>Plan du bâtiment</h2>
    <img src="{{ asset('build/images/plan_rdc.png') }}" alt="RDC" class="img-fluid">
    <img src="{{ asset('build/images/plan_etage.png') }}" alt="Etage" class="img-fluid">
{% endblock %}
