{% extends 'base_admin.html.twig' %}

{% block title %}Modifier une catégorie{% endblock %}

{% block body %}
    <h1>Modifier une catégorie</h1>

    {{ include('admin/category/_form.html.twig', {'button_label': 'Modifier'}) }}
    <hr>
    <div class="d-flex">
        <a href="{{ path('admin_category_index') }}" class="btn btn-outline-primary me-2">Retour à la liste</a>
        {{ include('admin/category/_delete_form.html.twig') }}
    </div>

{% endblock %}
