{% extends 'base_admin.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>
    <p>
        <a href="{{ path('admin_category_new') }}" class="btn btn-primary">Ajouter une catégorie</a>
    </p>

    {% include "utils/alert.html.twig" %}

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(categories, 'Nom', 'c.name') }}</th>
                <th>URL</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.slug }}</td>
                <td>
                    <a href="{{ path('admin_category_edit', {'id': category.id}) }}"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun résultats</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(categories) }}
    </div>
{% endblock %}
