{% extends 'base_admin.html.twig' %}

{% block title %}Ajouter une nouvelle Catégorie{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle Catégorie</h1>

    {{ include('admin/category/_form.html.twig') }}
    <hr>

    <a href="{{ path('admin_category_index') }}" class="btn btn-outline-primary">Retour à la liste</a>
{% endblock %}
