{% set now = 'now'|date('U') %}
{% if reservation.status == 0 and reservation.dateStart|date('U') > now and reservation.dateEnd|date('U') > now  %}
    <span class="badge bg-primary">A venir</span>
{% elseif reservation.status == 0 and reservation.dateStart|date('U') < now and reservation.dateEnd|date('U') > now %}
    <span class="badge bg-warning">En cours</span>
{% elseif reservation.status == 0 and reservation.dateEnd|date('U') < now %}
    <span class="badge bg-success">Terminée</span>
{% elseif reservation.status == -1 %}
    <span class="badge bg-danger">Annulée</span>
{% endif %}