<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <title>Facture</title>

        <style>
            .invoice-box {
                padding: 30px;
                font-size: 16px;
                line-height: 24px;
                font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
                color: #555;
            }

            .invoice-box table {
                width: 100%;
                line-height: inherit;
                text-align: left;
            }

            .invoice-box table td {
                padding: 5px;
                vertical-align: top;
            }

            .invoice-box table tr.top table td {
                padding-bottom: 20px;
            }

            .invoice-box table tr td:nth-child(2) {
                text-align: right;
            }

            .invoice-box table tr.information table td {
                padding-bottom: 40px;
            }

            .invoice-box table tr.heading td {
                background: #eee;
                border-bottom: 1px solid #ddd;
                font-weight: bold;
                text-align: left;
            }

        </style>
    </head>

    <body>
        <div class="invoice-box">
            <table>

                <tr class="top">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td>
                                    <strong>1'Loc</strong><br>
                                    1 Chemin de la Trière<br>
                                    38240 Meylan
                                    <br>
                                    <a href="tel:0476000000" title="Nous appeler">04 76 00 00 00</a>
                                    <br>
                                    <a href="https://1loc.fr">1loc.fr</a>
                                </td>

                                <td>
                                    <strong>{{ reservation.user.fullName }}</strong><br>
                                    {{ reservation.user.address }}<br>
                                    {{ reservation.user.zipCode }} {{ reservation.user.city }}
                                    <br>
                                    {% if reservation.user.siret is not empty %}
                                        Siret : {{ reservation.user.siret }}
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr class="information">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td>Date : {{ 'now'|date('d-m-Y') }}</td>
                                <td>Facture n°{{ reservation.id }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr class="heading">

                    <td colspan="2">
                        <table>
                            <thead>
                                <tr>
                                    <th>Designation</th>
                                    <th>Prix unitaire</th>
                                    <th>Durée</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                        </table>
                    </td>


                </tr>

                <tr class="item">
                    <td colspan="2">
                        <table>
                            <tbody>
                                <tr>
                                    <td>{{ reservation.room.name }}</td>
                                    <td>{{ reservation.room.price }}€</td>
                                    <td>{{ duration }}</td>
                                    <td>{{ reservation.total }}€</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>



                <tr class="total">
                    <td></td>

                    <td>Total: {{ reservation.total }}€</td>
                </tr>
            </table>
        </div>
    </body>
</html>
