{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="py-5">
    <div class="container">
        <h1>Connexion</h1>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% include 'utils/alert.html.twig' %}

            <div class="mb-3">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div class="mb-3">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html
            #}

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Rester connecté?
                    </label>
                </div>

            <button class="btn btn-lg btn-primary" type="submit"> Connexion </button>
            <a href="{{ path('app_forgot_password_request') }}" class="btn btn-link">Mot de passe perdu</a>
        </form>
    </div>
</div>
{% endblock %}